VITE_APPWRITE_ENDPOINT=https://syd.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6aad4a38001259030403
VITE_APPWRITE_DATABASE_ID=6aad4a8f000133bdd644
VITE_APPWRITE_PROFILES_TABLE_ID=6aad4c04002b2fdd8382
